input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

button:focus {
    outline: none;
}

.form {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input::placeholder {
    color: white;
}

.textarea::placeholder {
    color: white;
}

.input {
    margin: 12px auto;
    height: 35px;
    width: 75%;
    padding: 5px;
    font-size: 18px;
    background-color: transparent;
    border-left: none;
    border-top: none;
    border-right: none;
    color: rgb(0, 214, 203);
    border-bottom: 1px solid rgb(0, 214, 203);
}

.textarea {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(0, 214, 203);
    height: 200px;
    width: 75%;
    margin: 12px auto;
    font-size: 15.5px;
    color: rgb(0, 214, 203);
    padding: 5px;
}

.submit {
    margin: 20px auto;
    height: 45px;
    width: 85%;
    background-color: transparent;
    color: rgb(0, 214, 203);
    border: 2px solid rgb(0, 214, 203);
    font-weight: bold;
    text-transform: uppercase;
}

@media screen and (min-width: 471px) and (max-width: 1740px) {
    .submit {
        margin: 20px auto;
        height: 55px;
        width: 75%;
        background-color: transparent;
        color: rgb(0, 214, 203);
        border: 2px solid rgb(0, 214, 203);
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
    }
}